<p>hi iam server component</p>

<input type='text' [(ngModel)]="name">
<p>{{name}}</p>

<p>{{num}}</p>

<p>{{age}}</p>

<h1>{{func()}}</h1>

<button class="btn btn-primary" [disabled]="name==='xyz'" (click)="statfunc()" >OK</button>
<p *ngIf="name==='xyz'">dont type xyz</p>
<p>{{serverStatus}}</p>

<h2>GITHUB</h2>
<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
<div id="demo" class="collapse">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</div>
<div class="well">Basic Well</div>

<iframe width="560" height="315" src="https://www.youtube.com/embed/BPNTC7uZYrI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>